/*the bar in respect to screen display*/
.footernav{
    align-items: center;
    z-index: 15;
    padding-top: 120px;
    left: 0;
    position: fixed;
    bottom: 0;
    font-size: .7vw;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;

    background-color: #272727;
    font-family: Helvetica;
    /*background-color: rgb(65, 109, 28);*/
}
.linkslist ul li{
    list-style-type: none; /*gets rid of bullet list*/
    text-align: center;
}

.linkslist ul li a{
    flex: 1;
    color: #fff;
    text-decoration: none; /*change text decoration (underlines) if needed */
    /*font-size: 20px;*/ /*change font size here if needed*/
    font-weight:600;
    text-transform: uppecase;
}

.designers span{
    flex:1;
    color: #fff;
    display: flex;
    text-align: center; /*see below note, but for text alignment*/
    padding-bottom: 8px; /*shrinking window makes a space between this and copyright*/
}
.copyright span{
    flex: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
}