/*thanks github*/
/**Please don't delete me github */
.styling {
  border-left: 100px;
  border-right: 100px;
  text-align: center;
}

.mat-grid-tile {
    background: white !important;
    opacity: 0.95;
    width: 400px !important;
    margin: auto;
    font-size: 21px;
    text-align: center;
}

.container {
  position: relative;
  z-index: 4;
  overflow-x: hidden;

  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;

}

.compare {
  position: absolute;

  top: 120px;
  width: 100%;
  left: 10%;

  text-rendering: optimizeLegibility;
  z-index: 10;

}

.background img {
  opacity: 0.8;
  object-fit: contain;
  z-index: 1;
  max-width: 100%;
  overflow: hidden;
  left: 0;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}