table {
  width: 100%;
  margin: auto;
}

.mat-form-field { /*the search bar*/
  font-size: 14px;
  width: 100%;
  position: fixed;
  top: 55px;
}
.mat-elevation-z8
{
  position: relative;
  margin-top : 100px;
  height: 400px;
  overflow: auto;
}
.mat-paginator
{
  position:fixed;
  bottom: 0px;
  width: 95%;
}