table {
  width: 100%;
  margin: auto;
}

.mat-form-field { /*the search bar*/
  font-size: 14px;
  width: 60%;
  margin-left: 1%;
  position: fixed;
  top: 80px;
  z-index: 3;
}
<<<<<<< HEAD
.mat-elevation-z8
{
  position: relative;
  margin-top : 75px;
  height: auto;
  max-height: 600px;
  top: 55px;
  overflow: auto;
}
.mat-paginator
{
  position:fixed;
  top: 80px;
  width: 99%;
  margin: auto;
  z-index: 2;
=======

/*
issue here in th: need to fix header so doesn't go over hover menu
changed height to cover menu for now, but the irregular thickness is
at odds with the thickness of the other rows
*/
/*
th {
  overflow-y: scroll;
  height: 70px;
  z-index: 11;
>>>>>>> fc767f09a5997cd56b2251e1ed09c611dfe10781
}
*/

/*
minor bug:
- table shifts partially up once hit 20 items and keep scrolling if in smaller window
*/