img {
    width: 100%;
    height: auto;
    opacity: 0.65;
    z-index: 7;
}

.container {
  position: relative;
}

.center {
  position: absolute;
  left: 0;
  top: 300px;
  width: 100%;
  text-align: center;
  font-size: 64px;
  font-weight: bolder;

  color: white;
  text-rendering: optimizeLegibility;
  z-index: 8;
}

p {
  z-index: 8;
  font-size: 64px;
}