.base {
    width: 100%;
    height: 750px;
    object-fit: cover;
    z-index: 7;
}

.top {
  z-index: 7;
  opacity: 0.79;
  top: 500px;
  height: 400px;
  width: 80%;
}

.container {
  position: relative;
}

.first {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  left: 50px;
  text-align: left;
  font-size: 64px;
  font-weight: bolder;
  color:  rgb(0, 107, 9);
  text-rendering: optimizeLegibility;
  z-index: 10;
}

.second {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  left: 50px;
  text-align: left;
  font-size: 24px;
  font-style: italic;
  font-weight: bolder;
  color:  rgba(12, 109, 20, 0.74);
  text-rendering: optimizeLegibility;
  z-index: 10;
}


.third {
  position: absolute;
  left: 0;
  top: 100px;
  width: 105%;
  text-align: left;
  font-size: 64px;
  font-weight: bolder;
  color: white;
  text-rendering: optimizeLegibility;
  z-index: 7;
}

.fourth {
  position: absolute;
  left: 0;
  top: 120px;
  width: 105%;
  text-align: left;
  font-size: 64px;
  font-weight: bolder;
  color: white;
  text-rendering: optimizeLegibility;
  z-index: 14;
}

.mat-flat-button {
  position: relative;
  top: 260px;
  left: 500px;
  color: white;

  font-size: 30px;
  background: green;
  height: 40px;
  width: 200px;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}