<br><br><br>
<!--<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>-->

<!--######-######-######-######-######-######-######-######-######-######-######-##################-->
<!--
  <mat-accordion>
  <mat-expansion-panel *ngFor="let panel of config.panels; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title class="item-title">
        {{ panel.item }} from {{panel.restname}}
      </mat-panel-title>
      <-- -<mat-panel-description>
        {{ panel.description }}
      </mat-panel-description>->
    </mat-expansion-panel-header>
    <p class="innerpanel">Calories: {{panel.calories}}</p>
    <p class="innerpanel">Total Fat (g): {{panel.total_fat}}</p>
    <p class="innerpanel">Protein (g): {{panel.protein}}</p>
    <p class="innerpanel">Carbohydrates (g): {{panel.carbohydrates}}</p>
    <p class="innerpanel">Type: {{panel.type}}</p>
    <mat-action-row>
      <button matTooltip="Removes item from current plate" aria-label="Button that displays a tooltip when focused or hovered over" mat-button color="warn" (click)="removeFromPlate(i)">Remove from Plate</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<--new stuff here->
<mat-list>
  <mat-list-item>Total Calories: {{totalCalorie()}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Total Fat (g): {{totalFatNum()}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Protein (g): {{totalProtein()}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Total Carbohydrates (g): {{totalProtein()}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<button mat-button color="warn" (click)="removeWholePlate()">Clear Plate </button>
-->

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let panel of config.panels; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title class="item-title">
            {{ panel.item }} from {{panel.restname}}
          </mat-panel-title>
          <!--<mat-panel-description>
          {{ panel.description }}
          </mat-panel-description>-->
        </mat-expansion-panel-header>
        <p class="innerpanel">Calories: {{panel.calories}}</p>
        <p class="innerpanel">Total Fat (g): {{panel.total_fat}}</p>
        <p class="innerpanel">Protein (g): {{panel.protein}}</p>
        <p class="innerpanel">Carbohydrates (g): {{panel.carbohydrates}}</p>
        <p class="innerpanel">Type: {{panel.type}}</p>
        <mat-action-row>
          <button matTooltip="Removes item from current plate"
            aria-label="Button that displays a tooltip when focused or hovered over" mat-button color="warn"
            (click)="removeFromPlate(i)">Remove from Plate</button>
        </mat-action-row>
      </mat-expansion-panel>
      <br><button mat-button color="warn" (click)="removeWholePlate()">Clear Plate </button>
    </mat-accordion>

    <!--new stuff here-->
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <mat-list-item>Total Calories: {{totalCalorie()}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Total Fat (g): {{totalFatNum()}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Protein (g): {{totalProtein()}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Total Carbohydrates (g): {{totalProtein()}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-grid-tile>
    <img class="background"
      src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fprod-dietdoctor-d3xpwb8eqyot4ma5.stackpathdns.com%2Fwp-content%2Fuploads%2F2017%2F08%2FDD-485-ketomincedbeef-2400x1600.jpg&f=1">
</mat-grid-list>
<app-footer></app-footer>