.innerpanel {
    /* stuff inside panel */
    padding-left: 3em;
}

.mat-accordion {
    z-index: 7;
    opacity: 0.8;
}


.item-title {
    /* panel header */
    font-size: 18px;
}

::ng-deep .mat-expansion-panel {
    width: auto !important;
    max-width: 500px !important;
}

.background {
    opacity: 0.8;
    object-fit: contain;
    z-index: 1;
    overflow: hidden;
    left: 0;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mat-action-row {
    z-index: 7;
}

button {
    z-index: 7;
    color: white !important;
    background: green;
}

.mat-list {
    z-index: 7;
    background-color: white;
    opacity: 0.95;
}

.mat-grid-list {
    height: 100px !important;
    overflow: hidden !important;
}