<br><br><br>
<!--<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>-->
<mat-accordion>
  <mat-expansion-panel *ngFor="let panel of config.panels; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ panel.item }} from {{panel.restname}}
      </mat-panel-title>
      <!---<mat-panel-description>
        {{ panel.description }}
      </mat-panel-description>-->
    </mat-expansion-panel-header>
    <p class="innerpanel">Calories: {{panel.calories}}</p>
    <p class="innerpanel">Total Fat: {{panel.total_fat}}</p>
    <p class="innerpanel">Protein: {{panel.protein}}</p>
    <p class="innerpanel">Carbohydrates: {{panel.carbohydrates}}</p>
    <p class="innerpanel">Type: {{panel.type}}</p>
    <mat-action-row>
      <button matTooltip="Removes item from current plate" aria-label="Button that displays a tooltip when focused or hovered over" mat-button color="warn" (click)="removeFromPlate(i)">Remove from Plate </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<!--new stuff here-->
<mat-list>
  <mat-list-item>Total Calories: {{totalCalorie()}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Total Fat: {{totalFatNum()}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Protein: {{totalProtein()}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>Total Carbohydrates: {{totalProtein()}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<button mat-button color="warn" (click)="removeWholePlate()">Clear Plate </button>