img {
  margin-top: 20px;
  z-index: 10;
  height: 2.5%;
  width: 2.5%;
  float: right;
  margin-right: 1px;
  transform-origin: center;
  transform: translateX(-25%) translateY(-25%);
}

/* this is for hover menu bar, color remains as normal one */
ul {
  z-index: 15;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  font-size: 1.2vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(65, 109, 28);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

/* this is for when hovering over button, changes color */
li a:hover {
  background-color: rgb(233, 233, 233);
  color: rgb(13, 100, 27);
}

/* this is for clicking on button, make sure color same as nav a.active! */
li a:active {
  background-color: rgb(83, 150, 28);
  color: white;
}

/* this is for active button, color remains changed as long as on page */
nav a.active {
  background-color: rgb(83, 150, 28);
  color: white;
}