img {
  z-index: 10;
  position: 10%;
  right: 0;
  top: -5;
  height: 10%;
  width: 10%;
}

/* this is for hover menu bar, color remains as normal one */
ul {
  z-index: 15;
  position: fixed;
  font-size: 90%;
  top: 0;
  width: 99%;
  height: auto;
  font-size: 27px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(65, 109, 28);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

/* this is for when hovering over button, changes color */
li a:hover {
  background-color: rgb(233, 233, 233);
  color: rgb(13, 100, 27);
}

/* this is for clicking on button, make sure color same as nav a.active! */
li a:active {
  background-color: rgb(83, 150, 28);
  color: white;
}

/* this is for active button, color remains changed as long as on page */
nav a.active {
  background-color: rgb(83, 150, 28);
  color: white;
}