<!--need to make it listen for click to change active class, and when click, allow for ripple-->
<div class="topnav">
  <ul>
    <nav>
        <li><a routerLink="/about" routerLinkActive = "active"> About</a></li>
        <li><a routerLink="/full-menu" routerLinkActive = "active">Full Menu</a></li>
        <li><a routerLink="/compare" routerLinkActive = "active">Compare</a></li>
        <li><a routerLink="/plate" routerLinkActive = "active">Plate</a></li>
        <li><a routerLink="/search" routerLinkActive = "active">Search</a></li>
    </nav>
  </ul>
  </div>