table {
    width: 100%;
    margin: auto;
  }

  .mat-form-field { /*the search bar*/
    font-size: 14px;
    width: 60%;
    margin-left: 1%;
    position: fixed;
    top: 80px;
    z-index: 8;
  }

  .mat-elevation-z8
  {
    position: absolute;
    width: 98%;
    margin-top : 10px;
    height: auto;
    max-height: 540px;
    overflow: scroll;
    z-index: 6;
  }


  .mat-paginator
  {
    position:fixed;
    top: 80px;
    width: 99%;
    margin: auto;
    z-index: 7;
  }

  .mat-button {
  color: white;

  font-size: 11px;
  background: rgb(65, 109, 28);
}

.buttons {
  position: fixed;
}

span:before{
    content:" ";
    display:inline-block;
    width:32px;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
}