table {
    width: 100%;
    padding: auto;
    padding-bottom: 20px;
  }

  .mat-form-field { /*the search bar*/
    font-size: 14px;
    width: 60%;
    margin-left: 1%;
    position: fixed;
    top: 80px;
    z-index: 8;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

  /*checkmark color*/
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(65, 109, 28) !important;
  }

  /*checkmark color frame*/
/*
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: green;
  }
*/
  /*checkmark ripple*/
  ::ng-deep .mat-ripple-element {
    background: green !important;
  }

  .mat-elevation-z8
  {
    position: absolute;
    width: 98%;
    margin-top : 10px;
    height: auto;
    max-height: 540px;
    overflow: scroll;
    z-index: 6;
  }


  .mat-paginator
  {
    position:fixed;
    top: 80px;
    width: 99%;
    margin: auto;
    z-index: 7;
  }

  .mat-button {
  color: white;

  font-size: 11px;
  background: rgb(65, 109, 28);
}

/*elements within cell*/

.mat-cell{
  font-size: 1vw;
  font-family: Helvetica;
}

.buttons {
  position: fixed;
}
.button-wrapper{

}


span:before{
    content:" ";
    display:inline-block;
    width:32px;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
}